@page "/"

@inject NavigationManager Navigator


@inject IJSRuntime JS

<div class="jumbotron">
    main
</div>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @* await JS.InvokeVoidAsync("uploadFile", DotNetObjectReference.Create(this));
            await JS.InvokeAsync("upload",(e)=>{
            System.Console.WriteLine(e);
            }); *@
    }

}
